{{#if flavor}}
<span class="flavor-text">
  {{#if compendiumEntry}}
  <a title="{{localize "PF1.OpenAssociatedCompendiumEntry"}}" data-action="open-compendium-entry" data-compendium-entry="{{compendiumEntry}}"{{#if compendiumEntryType}} data-document-type="{{compendiumEntryType}}"{{/if}}>
    <i class="fas fa-book"></i>
  </a>
  {{/if}}
  {{flavor}}
</span>
{{/if}}

{{#unless flavor}}
{{#if compendiumEntry}}
<a title="{{localize "PF1.OpenAssociatedCompendiumEntry"}}" data-action="open-compendium-entry" data-compendium-entry="{{compendiumEntry}}"{{#if compendiumEntryType}} data-document-type="{{compendiumEntryType}}"{{/if}}>
  <i class="fas fa-book"></i>
</a>
{{/if}}
{{/unless}}

{{#if formula}}
<div class="dice-roll">
  <div class="dice-result">
      <h4 data-natural="{{natural}}" data-bonus="{{bonus}}" class="dice-total{{#if isNat20}} natural-20{{/if}}{{#if isNat1}} natural-1 failure{{/if}}{{#if isCrit}} critical-threat success{{/if}}">{{total}}</h4>
      {{{tooltip}}}
  </div>
</div>
{{/if}}

{{#if hasExtraText}}
<div class="extra-text gm-sensitive">{{{extraText}}}</div>
{{/if}}

{{#if hasProperties}}
{{#each properties as |prop|}}
<div class="flexcol property-group gm-sensitive general-notes {{prop.css}}">
  <label>{{prop.header}}</label>
  <div class="flexrow tag-list">
    {{#each prop.value as |v|}}
    <span class="tag">{{{v}}}</span>
    {{/each}}
  </div>
</div>
{{/each}}
{{/if}}
