<div class="flexrow summary-header">
  <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>

  <div class="flexcol">
    <div class="flexrow name-xp">
      <div>
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
        </h1>
      </div>

      {{#if isCharacter}}
      <div class="hd-level character tooltip">
        <span class="tooltipcontent">
          @attributes.hd.total : {{system.attributes.hd.total}}
          {{#if system.details.mythicTier}}
          <br />
          @details.mythicTier : {{system.details.mythicTier}}
          {{/if}}
        </span>

        <table>
          <thead>
            <tr>
              <th class="level">{{localize "PF1.Level"}}</th>
              {{#if system.details.mythicTier}}
              <th class="tier">{{localize "PF1.Tier"}}</th>
              {{/if}}
              {{#unless disableExperience}}
              <th class="experience">{{localize "PF1.Experience"}}</th>
              {{/unless}}
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="level">
                {{system.details.level.value}}
              </td>
              {{#if system.details.mythicTier}}
              <td class="tier">
                {{system.details.mythicTier}}
              </td>
              {{/if}}
              {{#unless disableExperience}}
              <td class="experience">
                <div class="flexrow">
                  <span class="text-box direct allow-relative no-value-cap" name="system.details.xp.value"
                    {{#if minimumExperience}}data-clear-value="{{minimumExperience}}"{{/if}} data-dtype="Number">{{system.details.xp.value}}</span>
                  <span class="separator"> / </span>
                  <span class="text-box max readonly">{{system.details.xp.max}}</span>
                </div>
              </td>
              {{/unless}}
            </tr>
          </tbody>
        </table>

        {{#unless disableExperience}}
        <div class="xpbar">
          {{#if system.details.xp.pct}}
          <span class="bar" style="width: {{system.details.xp.pct}}%"></span>
          {{/if}}
        </div>
        {{/unless}}
      </div>
      {{else}}
      <div class="hd-level npc tooltip flexrow">
        <table>
          <thead>
            <tr>
              <th class="level">{{localize "PF1.HitDieShort"}}</th>
              {{#if system.details.mythicTier}}
              <th class="tier">{{localize "PF1.Tier"}}</th>
              {{/if}}
              <th>{{localize "PF1.ChallengeRatingShort"}}</th>
              <th>{{localize "PF1.Experience"}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="level">
                {{system.attributes.hd.total}}
              </td>
              {{#if system.details.mythicTier}}
              <td class="tier">
                {{system.details.mythicTier}}
              </td>
              {{/if}}
              <td>
                <span class="text-box cr-input" name="system.details.cr.base">{{labels.cr}}</span>
              </td>
              <td class="experience">
                {{system.details.xp.value}}
              </td>
            </tr>
          </tbody>
        </table>

        <span class="tooltipcontent">
          @attributes.hd.total : {{system.attributes.hd.total}}<br/>
          @details.cr.base : {{system.details.cr.base}}<br/>
          @details.cr.total : {{system.details.cr.total}}
          {{#if system.details.mythicTier}}
          <br />
          @details.mythicTier : {{system.details.mythicTier}}
          {{/if}}
        </span>
      </div>
      {{/if}}
    </div>

    {{!-- Character Summary --}}
    <div class="character-summary flexrow">
      <div>
        <input type="text" name="system.details.gender" value="{{system.details.gender}}" placeholder="{{localize "PF1.Gender"}}" title="{{localize "PF1.Gender"}}"/>
      </div>
      <div>
        <input type="text" name="system.details.deity" value="{{system.details.deity}}" placeholder="{{localize "PF1.Deity"}}" title="{{localize "PF1.Deity"}}"/>
      </div>
      <div>
        <input type="text" name="system.details.age" value="{{system.details.age}}" placeholder="{{localize "PF1.Age"}}" title="{{localize "PF1.Age"}}"/>
      </div>
      <div>
        <input type="text" name="system.details.height" value="{{system.details.height}}" placeholder="{{localize "PF1.Height"}}" title="{{localize "PF1.Height"}}"/>
      </div>
      <div>
        <input type="text" name="system.details.weight" value="{{system.details.weight}}" placeholder="{{localize "PF1.Weight"}}" title="{{localize "PF1.Weight"}}"/>
      </div>

      {{!-- Alignment --}}
      <div class="controls alignment flexrow" title="{{localize "PF1.Alignment"}}">
        {{#if labels.alignment}}<span>{{labels.alignment}}</span>{{else}}<span class="placeholder">{{localize "PF1.Alignment"}}</span>{{/if}}
        <a class="control alignment"><i class="fas fa-cog"></i></a>
      </div>
    </div>

    <div class="flexrow">
      <div class="race-container item flexrow" {{#if race}}data-item-id="{{race._id}}"{{/if}} title="{{localize "PF1.Race"}}">
        <div class="race item-image rollable" style="background-image: url({{race.img}})" title="{{labels.race}}">
          {{#unless race}}{{localize "PF1.Race"}}{{/unless}}
        </div>

        <div class="item-controls flexcol">
          {{#if owner}}
          {{#unless race}}
          <a class="item-control add" title="{{localize "PF1.CreateItem"}}"><i class="fas fa-plus"></i></a>
          <a data-action="compendium" data-action-target="races" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
          {{/unless}}
          {{#if race}}
          <a class="item-control edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
          <a class="item-control delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          {{/if}}
          {{/if}}
        </div>

        {{#if race}}
        <div class="race-info tag-list">
          <span class="tag type3">{{lookup config.creatureTypes race.system.creatureType}}</span>
          {{#each race.system.subTypes as |v|}}
          <span class="tag">{{v}}</span>
          {{/each}}
        </div>
        {{/if}}
      </div>
      <div class="flexrow item-list misc-header-items">
        {{!-- Rest --}}
        <div class="actor-quick-actions">
          <button type="button" class="rest"><i class="fas fa-bed"></i> {{localize "PF1.Rest"}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- Header Attributes --}}
<div class="attributes flexrow">
    {{#unless useWoundsAndVigor}}
    <div class='health-details pseudo-table tooltip'>
      <h3 class='header'>{{localize "PF1.HitPoints"}}</h3>
      <ul class='flexrow'>
        <li class='flexcol current'>
          <h4 class='sub-header'>{{localize "PF1.Current"}}</h4>
          <span class="value text-box direct wheel-change allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">{{system.attributes.hp.value}}</span>
        </li>
        <li class='flexcol maximum'>
          <h4 class='sub-header'>{{localize "PF1.Maximum"}}</h4>
          <span class="value text-box readonly hp-max">{{system.attributes.hp.max}}</span>
        </li>
        <li class='flexcol temp'>
          <h4 class='sub-header'>{{localize "PF1.TempShort"}}</h4>
          <span class="value text-box direct allow-relative hp-temp-input" name="system.attributes.hp.temp" data-dtype="Number">{{#if system.attributes.hp.temp}}{{system.attributes.hp.temp}}{{/if}}</span>
        </li>
        <li class='flexcol nonlethal'>
          <h4 class='sub-header'>{{localize "PF1.Nonlethal"}}</h4>
          <span class="value text-box direct allow-relative hp-nonlethal-input" name="system.attributes.hp.nonlethal" data-dtype="Number">{{#if system.attributes.hp.nonlethal}}{{system.attributes.hp.nonlethal}}{{/if}}</span>
        </li>
      </ul>
      <div class="tooltipcontent">
        @attributes.hp.value : {{system.attributes.hp.value}}<br/>
        @attributes.hp.max : {{system.attributes.hp.max}}<br/>
        @attributes.hp.temp : {{system.attributes.hp.temp}}<br/>
        @attributes.hp.nonlethal : {{system.attributes.hp.nonlethal}}<br>

        {{#if sourceDetails.system.attributes.hp.max.length}}
        <br/>{{localize "PF1.FromSources"}}:<br/>
        {{#each sourceDetails.system.attributes.hp.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
        {{/if}}
      </div>
    </div>
    {{else}}
    {{!-- Wounds & Vigor --}}
    <div class='health-details flexrow wounds-vigor pseudo-table'>
      {{!-- Vigor --}}
      <div class='flexcol vigor tooltip'>
        <div class="tooltipcontent">
          @attributes.vigor.min : {{system.attributes.vigor.min}}<br/>
          @attributes.vigor.value : {{system.attributes.vigor.value}}<br/>
          @attributes.vigor.max : {{system.attributes.vigor.max}}<br/>
          @attributes.vigor.temp : {{system.attributes.vigor.temp}}<br>

          {{#if sourceDetails.system.attributes.vigor.max.length}}
          <br/>{{localize "PF1.FromSources"}}:<br/>
          {{#each sourceDetails.system.attributes.vigor.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
        </div>

        <h3 class='header'>{{localize "PF1.Vigor"}}</h3>
        <ul class='flexrow'>
          <li class='flexcol current'>
            <h4 class='sub-header'>{{localize "PF1.Current"}}</h4>
            <span class="value text-box direct allow-relative vigor-current-input" name="system.attributes.vigor.value" data-dtype="Number">
              {{system.attributes.vigor.value}}
            </span>
          </li>
          <li class='flexcol maximum'>
            <h4 class='sub-header'>{{localize "PF1.Maximum"}}</h4>
            <span class="value text-box readonly">{{system.attributes.vigor.max}}</span>
          </li>
          <li class='flexcol temp'>
            <h4 class='sub-header'>{{localize "PF1.TempShort"}}</h4>
            <span class="value text-box direct allow-relative vigor-temp-input" name="system.attributes.vigor.temp" data-dtype="Number">
              {{#if system.attributes.vigor.temp}}{{system.attributes.vigor.temp}}{{/if}}
            </span>
          </li>
        </ul>
      </div>
      {{!-- Wounds --}}
      <div class='flexcol wounds tooltip'>
        <div class="tooltipcontent">
          @attributes.wounds.min : {{system.attributes.wounds.min}}<br/>
          @attributes.wounds.value : {{system.attributes.wounds.value}}<br/>
          @attributes.wounds.max : {{system.attributes.wounds.max}}<br/>

          {{#if sourceDetails.system.attributes.wounds.max.length}}
          <br/>{{localize "PF1.FromSources"}}:<br/>
          {{#each sourceDetails.system.attributes.wounds.max as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
        </div>

        <h3 class='header'>{{localize "PF1.Wounds"}}</h3>
        <ul class='flexrow'>
          <li class='flexcol current'>
            <h4 class='sub-header'>{{localize "PF1.Current"}}</h4>
            <span class="value text-box direct allow-relative wounds-current-input" name="system.attributes.wounds.value" data-dtype="Number">
              {{system.attributes.wounds.value}}
            </span>
          </li>
          <li class='flexcol maximum'>
            <h4 class='sub-header'>{{localize "PF1.Maximum"}}</h4>
            <span class="value text-box readonly">{{system.attributes.wounds.max}}</span>
          </li>
        </ul>
      </div>
    </div>
    {{/unless}}
    <div class='speed-details flexcol pseudo-table'>
      <h3 class='header'>{{localize "PF1.Speed"}}</h3>
      <ul class='flexrow'>
        <li class='flexcol land tooltip'>
          <div class="tooltipcontent">
            @attributes.speed.land.total : {{convertDistance system.attributes.speed.land.total}}<br>

            {{#if (or sourceDetails.system.attributes.speed.land.base.length sourceDetails.system.attributes.speed.land.add.length)}}
              <br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.system.attributes.speed.land.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
              {{#each sourceDetails.system.attributes.speed.land.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
          <h4 class='sub-header'>{{localize "PF1.SpeedLand_Short"}}</h4>
          <span class="value text-box direct speed" name="system.attributes.speed.land.base" data-dtype="Number">
            {{#if system.attributes.speed.land.total}}{{convertDistance system.attributes.speed.land.total}}{{/if}}
          </span>
        </li>
        <li class='flexcol climb tooltip'>
          <div class="tooltipcontent">
            @attributes.speed.climb.total : {{convertDistance system.attributes.speed.climb.total}}<br>

            {{#if (or sourceDetails.system.attributes.speed.climb.base.length sourceDetails.system.attributes.speed.climb.add.length)}}
              <br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.system.attributes.speed.climb.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
              {{#each sourceDetails.system.attributes.speed.climb.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
          <h4 class='sub-header'>{{localize "PF1.SpeedClimb_Short"}}</h4>
          <span class="value text-box direct speed" name="system.attributes.speed.climb.base" data-dtype="Number">
            {{#if system.attributes.speed.climb.total}}{{convertDistance system.attributes.speed.climb.total}}{{/if}}
          </span>
        </li>
        <li class='flexcol swim tooltip'>
          <div class="tooltipcontent">
            @attributes.speed.swim.total : {{convertDistance system.attributes.speed.swim.total}}<br>

            {{#if (or sourceDetails.system.attributes.swim.land.base.length sourceDetails.system.attributes.swim.land.add.length)}}
              <br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.system.attributes.speed.swim.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
              {{#each sourceDetails.system.attributes.speed.swim.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>

          <h4 class='sub-header'>{{localize "PF1.SpeedSwim_Short"}}</h4>
          <span class="value text-box direct speed" name="system.attributes.speed.swim.base" data-dtype="Number">
            {{#if system.attributes.speed.swim.total}}{{convertDistance system.attributes.speed.swim.total}}{{/if}}
          </span>
        </li>
        <li class='flexcol burrow tooltip'>
          <div class="tooltipcontent">
            @attributes.speed.burrow.total : {{convertDistance system.attributes.speed.burrow.total}}<br>

            {{#if (or sourceDetails.system.attributes.speed.burrow.base.length sourceDetails.system.attributes.speed.burrow.add.length)}}
              <br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.system.attributes.speed.burrow.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
              {{#each sourceDetails.system.attributes.speed.burrow.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
          <h4 class='sub-header'>{{localize "PF1.SpeedBurrow_Short"}}</h4>
          <span class="value text-box direct speed" name="system.attributes.speed.burrow.base" data-dtype="Number">
            {{#if system.attributes.speed.burrow.total}}{{convertDistance system.attributes.speed.burrow.total}}{{/if}}
          </span>
        </li>
        <li class='flexcol fly tooltip'>
          <div class="tooltipcontent">
            @attributes.speed.fly.total : {{system.attributes.speed.fly.total}}<br/>
            @attributes.speed.fly.maneuverability : "{{system.attributes.speed.fly.maneuverability}}"<br>
            {{#if (or sourceDetails.system.attributes.speed.fly.base.length sourceDetails.system.attributes.speed.fly.add.length)}}
              <br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.system.attributes.speed.fly.base as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
              {{#each sourceDetails.system.attributes.speed.fly.add as |src|}}{{src.name}}: {{convertDistance src.value}}<br/>{{/each}}
            {{/if}}
          </div>
          <h4 class='sub-header'>{{localize "PF1.SpeedFly_Short"}}</h4>
          <span class="value text-box direct speed" name="system.attributes.speed.fly.base" data-dtype="Number">
            {{#if system.attributes.speed.fly.total}}{{convertDistance system.attributes.speed.fly.total}}{{/if}}
          </span>
        </li>
      </ul>
    </div>
    <div class='flexcol maneuverability-details pseudo-table tooltip'>
      <h3 class='header'>{{localize "PF1.FlyManeuverabilityShort"}}</h3>
      <select class='value' name="system.attributes.speed.fly.maneuverability">
        {{#select system.attributes.speed.fly.maneuverability}}
        {{#each config.flyManeuverabilities as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
</div>

{{!-- Footer --}}

<section class="subdetails-body">
  <div class="quick-info">
    <div class="flexcol">
      {{!-- Roll Defenses --}}
      <li class="generic-defenses flexrow" data-drag="defenses">
        <div class="rollable image-d20"></div>
        <label><h3>{{localize "PF1.Defenses"}}</h3></label>
      </li>

      {{> "systems/pf1/templates/actors/parts/actor-defenses_tables.hbs"}}

      <table>
        <thead>
          <tr>
            <th class="attribute bab" data-attribute="bab">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.BABAbbr"}}</span></a>
            </th>
            <th class="attribute cmb" data-attribute="cmb">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.CMBAbbr"}}</span></a>
            </th>
            <th class="attribute initiative" data-attribute="initiative">
              <a class="rollable"><i class="fas fa-dice"></i><span>{{localize "PF1.Initiative"}}</span></a>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="tooltip bab">
              <span class="tooltipcontent">
                @attributes.bab.total : {{system.attributes.bab.total}}<br>

                {{#if sourceDetails.system.attributes.bab.total.length}}
                <br/>{{localize "PF1.FromSources"}}:<br/>
                {{#each sourceDetails.system.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </span>

              {{system.attributes.bab.total}}
            </td>

            <td class="tooltip cmb">
              {{> "systems/pf1/templates/actors/parts/actor-cmb.hbs"}}
            </td>

            <td class="tooltip initiative">
              <span class="tooltipcontent">
                @attributes.init.total : {{system.attributes.init.total}}<br>

                {{#if sourceDetails.system.attributes.init.total.length}}
                  <br/>{{localize "PF1.FromSources"}}:<br/>
                  {{#each sourceDetails.system.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}

                {{> "systems/pf1/templates/actors/parts/actor-contextNotes.hbs" target="misc.init"}}
              </span>
              {{system.attributes.init.total}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {{!-- Quick Actions --}}
    <h2>{{localize "PF1.QuickActions"}}</h2>

    <ol class="quick-actions">
      {{#each quickActions as |i|}}
      <li class="item" data-item-id="{{i.item.id}}" data-type="{{i.item.type}}" style="border-color: {{i.color1}};" title="{{i.item.name}}">
        <img src="{{i.item.img}}">
        <span class="icon-label">{{i.item.name}}</span>
        {{#if i.haveAnyCharges}}
        <charges>
          <span class="remaining">{{i.charges}}</span>
          {{#unless i.isSingleUse}}
          <span class="delimiter">/</span>
          <span class="max">{{i.maxCharge}}</span>
          {{/unless}}
        </charges>
        {{/if}}
      </li>
      {{/each}}
    </ol>
  </div>

  {{!-- Classes --}}
  <div class="classes-body">
    <h2>{{localize "PF1.ClassPlural"}}</h2>

    <ol class="inventory-list">
      <ol class="item-list" data-type="class">
        <li class="inventory-header flexrow">
          <h3 class="item-name flexrow">{{localize "PF1.ItemTypeClass"}}</h3>

          <div class="item-detail item-feat-level"><span>{{localize "PF1.Level"}}</span></div>

          {{#if levelUp}}
            <div class="item-detail item-button"><span>{{localize "PF1.Action"}}</span></div>
          {{/if}}

          {{#if owner}}
          <div class="item-controls">
            <a class="item-control item-create" title="Create Item" data-type="class">
              <i class="fas fa-plus"></i>
            </a>
            <a data-action="compendium" data-action-target="classes" title="{{localize "PF1.OpenCompendium"}}"><i class="fas fa-folder-plus"></i></a>
          </div>
          {{/if}}
        </li>

        {{#if classes.length}}
        {{#each classes as |item iid|}}
        <li class="item flexrow {{#unless isCharged}}uncharged{{/unless}}" data-item-id="{{item.id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style='background-image: url("{{item.img}}")'></div>
            <h4>{{item.name}}</h4>
          </div>

          <div class="item-detail item-feat-level tooltip">
            <span>{{localize "PF1.Level"}} {{item.level}}</span>
            <span class="tooltipcontent">@classes.{{item.tag}}.level : {{item.level}}</span>
          </div>

          {{#if ../levelUp}}
            <div class="item-detail item-button">
            {{#if item.canLevelUp}}
              <button type="button" class="level-up" data-item-id="{{item.id}}">{{localize "PF1.LevelUp.Label"}}</button>
            {{/if}}
            </div>
          {{/if}}

          {{#if ../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
        {{else}}
        <div class="flexcol info">
          <span>
            {{{labels.firstClass}}}
          </span>
        </div>
        {{/if}}
      </ol>
    </ol>
  </div>
</section>
